header, #about{
    background-color: rgb(27, 177, 127);
}

footer{
    background-color: rgb(48, 49, 51);
    background-image: url(../bsImages/scallopWhite.png);
    background-repeat: repeat-x;


}

#about{
    background-image: url(../bsImages/backgrounds/Abstract-blue_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}