@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Dosis:wght@200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fjalla+One&family=Momo+Trust+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Dosis:wght@200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fjalla+One&family=Momo+Trust+Display&display=swap");

header {
  background-image: url(../images/Background.jpg);
  background-size: cover;
  background-position: center;
}
section {
  background-color: rgb(48, 82, 21);
}
h1 {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: larger;
}

footer {
  background-color: rgb(145, 120, 93);
}
/*links*/
/* unvisited link */
a:link {
  color: rgb(184, 255, 162);
  background-color: rgb(85, 72, 49);
  border: #000000;
  padding: 10px 20px;
  display: inline-block;
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: rgb(78, 190, 116);
}

/* selected link */
a:active {
  color: rgb(108, 240, 163);
}
